/*
Name: Aravind Arampu
File: style.css
Date: 22 Feb 2025
This CSS file is for a Challenge: Fundamental layout comprehension

link to repo https://github.com/AAravindDC/INFT-1206-03-Web-Development-Fundamentals.git
*/
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky; /* navigation bar will scroll with the content and then become stuck at the top of the viewport when it reaches it. */
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Displays the navigation items in a row */
    justify-content: space-between; /* Puts and even amount of space between the items */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature {
      width: 200px;
      float: left; /* Floats the image to the left*/
      margin: 0 20px 20px 0; /*Sets the margin to move text away from the image*/
  }