/*
Name: Aravind Arampu
File: style.css
Date: 22 Feb 2025
This HTML file is for a Challenge: Typesetting a community school homepage

link to repo https://github.com/AAravindDC/INFT-1206-03-Web-Development-Fundamentals.git
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


/* lovatolight font was downloaded from https://www.onlinewebfonts.com/download/04d7b660906a972a89003f92e3392502
    created by Philatype */
@font-face {
    font-family: 'lovatolight';
    src: url('fonts/Lovato-Light-webfont.eot');
    src: url('fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lovato-Light-webfont.woff2') format('woff2'),
         url('fonts/Lovato-Light-webfont.woff') format('woff'),
         url('fonts/Lovato-Light-webfont.ttf') format('truetype'),
         url('fonts/Lovato-Light-webfont.svg#lovatolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* josefin_slabbold font was downloaded from https://www.fontsquirrel.com/fonts/josefin-slab
    created by Typemade*/
@font-face {
    font-family: 'josefin_slabbold';
    src: url('fonts/josefinslab-bold-webfont.eot');
    src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
         url('fonts/josefinslab-bold-webfont.woff') format('woff'),
         url('fonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: lovatolight, serif; /* Body font */
  font-size: 10px; /* site-wide font size of 10px */
}

h1, h2 {
  font-family: josefin_slabbold, sans-serif; /* Heading font */
  letter-spacing: 2px; /* letter spacing for headings */
}

h1 {
  font-size: 5rem; /* Font size for h1 */
  text-align: center; /* Center align h1 */
}

h2 {
  font-size: 3.2rem; /* Font size for h2 */
}

p, li {
  font-size: 1.6rem; /* Font size for body text */
  line-height: 1.5; /* Line height for body text */
  letter-spacing: 0.5px; /* Letter spacing for body text */
}


