/*
Name: Aravind Arampu
File: style.css
Date: 22 Feb 2025
This is the CSS file is for a Challenge: A cool-looking box

link to repo https://github.com/AAravindDC/INFT-1206-03---Web-Development---Fundamentals.git
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 200ptx; /* Set the width of the box */
  height: auto; /* Set the height of the box */
}